.main-container {
    margin: 2rem;
    background: #E5EDF5;
    border-radius: 2rem;
    height: calc(100vh - 8rem);
    padding-top: 4rem;

    .header {
        position: fixed;
        right: 3rem;
        top: 3rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        .power-btn{
            cursor: pointer;
            padding-top: 4px;
        }
    }

    .bot-content {
        height: calc(100vh - 270px);
        overflow: auto;
        padding: 0 1rem 1rem 1rem;

        &__message {
            display: flex;
            line-height: normal;
            letter-spacing: -0.3px;
            color: #fff;
            padding: 1rem;
            margin-top: 1rem;
            max-width: 80%;
            position: relative;
            width: fit-content;
            box-shadow: 0px 0.25rem 0.25rem 0px rgba(0, 0, 0, 0.05);
            white-space: pre-line;
            min-width: 7rem;
            font-size: 1.5rem;
            .text_msg {
                display: flex;
                grid-gap: 12px;
                margin-bottom: 1.2rem;
                align-items: center;
            }

            .time {
                position: absolute;
                bottom: 1rem;
                right: 1rem;
                margin: 0;
                font-size: 14px;
                letter-spacing: 0.031rem;
            }

            &.received {
                background-color: lightseagreen;
                border-radius: 2rem 2rem 2rem 0;
            }

            &.sent {
                background: lightcoral;
                margin-left: auto;
                border-radius: 2rem 2rem 0 2rem;
            }

            &.info-msg {
                margin: 0;
            }

            .audio_msg {
                display: flex;
                border-radius: 10px;
                grid-gap: 0.5rem;
                align-items: center;
                margin-bottom: 0.8rem;

                img {
                    width: 25px;
                }

                .speaker {
                    border-width: thick;
                    border-radius: 23px;
                    height: 3rem;
                    cursor: pointer;
                }
            }
        }

        .bot-footer {
            position: fixed;
            bottom: 2rem;

            .bee-image {
                width: 90px;

                img {
                    width: 100%;
                }
            }

            .user-image {
                position: fixed;
                width: 55px;
                right: 3rem;
                bottom: 3rem;

                img {
                    width: 100%;
                }
            }


            .cancel-div {
                position: fixed;
                right: 8rem;
                bottom: 3rem;
                height: 84px;
                width: 84px;

                button {
                    border: none;
                    box-shadow: none;
                    padding: 0;
                    background: none;

                    .circle {
                        position: absolute;
                        left: -7px;
                        top: -6px;
                        cursor: pointer;
                    }

                    .circle__spinner {
                        animation: rotate 2s linear infinite;
                        height: 5.8rem;

                        & .path {
                            stroke: #fa5f5f;
                            stroke-linecap: round;
                            animation: dash 1.5s ease-in-out infinite;
                        }
                    }
                }
            }

            .audio-record-mic {
                display: flex;
                justify-content: center;
                width: 4rem;
                height: 4rem;
                border-radius: 50px;
                padding: 8px;
                cursor: pointer;
                box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);

                &.start {
                    border: 2px solid #198754;
                }

                &.recording {
                    display: flex;
                    align-items: center;
                    grid-gap: 4px;
                    transition: all 0.3s 0s ease;

                    .round {
                        background: #fa5f5f;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        animation: recording 1s ease-in-out infinite;
                        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);

                        &:first-child {
                            left: 20%;
                        }

                        &:nth-child(2) {
                            animation-delay: 0.15s;
                        }

                        &:last-child {
                            left: 80%;
                            animation-delay: 0.3s;
                        }
                    }
                }
            }
        }
    }
}


@keyframes recording {
    0% {
        transform: translatey(0%);
    }

    30% {
        transform: translatey(-30%);
    }

    60% {
        transform: translatey(30%);
    }

    90% {
        transform: translatey(0%);
    }
}

@keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}
  


//mobile and tab styles
@media screen and (max-width: 1023px) {
    .main-container {
        margin: 1rem;
        height: calc(100vh - 5.5rem);
        border-radius: 1rem;
        padding-top: 3.5rem;
        .header {
            right: 1.5rem;
            top: 1.5rem;
        }
        .bot-content {
            height: calc(100vh - 200px);

            &__message {
                font-size: 14px;
                .audio_msg{
                    margin-bottom: 0.5rem;
                }
                .text_msg {
                    margin-bottom: 1rem;
                }
    
                .time {
                    font-size: 0.688rem;
                }
                &.received {
                    border-radius: 1rem 1rem 1rem 0;
                }

                &.sent {
                    border-radius: 1rem 1rem 0 1rem;

                }
            }

            .bot-footer {
                bottom: 1rem;

                .bee-image {
                    width: 65px;
                }

                .user-image {
                    bottom: 2rem;
                    right: 2rem;
                    width: 40px;
                }

                .cancel-div {
                    right: 6rem;
                    bottom: 2rem;
                    height: 68px;
                    width: 68px;
                    button{
                        .circle__spinner {
                            height: 5rem;
                        }
                    }
                }

                .audio-record-mic {
                    height: 3rem;
                    width: 3rem;
                }
            }
        }
    }
}