.main-container {
    margin: 2rem;
    background: #fff;
    border-radius: 2rem;
    height: calc(100vh - 4rem);

    @media (max-width: 1024px){
        margin: 1rem;
        height: calc(100vh - 2rem);
    }
    .bot-content {
        height: calc(100vh - 170px);
        overflow: auto;
        padding: 1rem;
        @media (max-width: 1024px){
            height: calc(100vh - 150px);
        }
        &__message {
            display: flex;
            line-height: normal;
            letter-spacing: -0.3px;
            background: var(--ion-color-primary-contrast);
            padding: 1rem;
            margin-top: 1rem;
            max-width: 80%;
            position: relative;
            width: fit-content;
            box-shadow: 0px 0.25rem 0.25rem 0px rgba(0, 0, 0, 0.05);
            white-space: pre-line;

            .text_msg {
                display: flex;
                grid-gap: 12px;
                margin-bottom: 0.5rem;
                align-items: center;
            }

            .time {
                position: absolute;
                bottom: 0;
                right: 16px;
                font-size: 0.688rem;
                letter-spacing: 0.031rem;
                padding-top: 0.25rem;
            }

            &.received {
                background-color: lightseagreen;
                color: #fff;
                border-radius: 1rem;
            }

            &.sent {
                background: lightcoral;
                color: #fff;
                margin-left: auto;
                border-radius: 1rem;
            }
        }

        .info-msg {
            background: lightseagreen;
            color: #fff;
            margin: 0;
        }
    }
}

.bot-footer {
    position: fixed;
    bottom: 3rem;
.bee-image{
    img{
        width: 70%;
    }
}


    .cancel-div {
        position: fixed;
        right: 3rem;
        bottom: 3rem;
        height: 52px;
        width: 52px;
        @media (max-width: 1024px){
            right: 2rem;
             bottom: 2rem;
        }
        button {
            border: none;
            box-shadow: none;
            padding: 0;
            background: none;
        }
    }

    .audio-record-mic {
        width: 2rem;
        height: 2rem;
        border-radius: 50px;
        padding: 8px;
        cursor: pointer;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
    }
}

.audio_msg {
     display: flex;
    
    border-radius: 10px;
    grid-gap: 4px;
    align-items: center;
    margin-bottom: 0.5rem;

    img {
        width: 25px;
    }
}


.speaker {
    border-width: thick;
    border-radius: 23px;
    height: 3rem;
}

.start {
    border: 2px solid #198754;

}

.round {
    background: #fa5f5f;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    animation: recording 1s ease-in-out infinite;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
}

.round:first-child {
    left: 20%;
}

.round:nth-child(2) {
    animation-delay: 0.15s;
}

.round:last-child {
    left: 80%;
    animation-delay: 0.3s;
}

.recording {
    display: flex;
    align-items: center;
    grid-gap: 4px;
    transition: all 0.3s 0s ease;
}


@keyframes recording {
    0% {
        transform: translatey(0%);
    }

    30% {
        transform: translatey(-30%);
    }

    60% {
        transform: translatey(30%);
    }

    90% {
        transform: translatey(0%);
    }
}

.circle {
    position: absolute;
    height: 54px;
    width: 54px;
    left: -6px;
    top: -6px;
}

.circle__spinner {
    height: 60px;

    & .path {
        stroke: #fa5f5f;
        stroke-linecap: round;
        animation: dash 2s linear infinite;
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dasharray: 130, 150;
        stroke-dashoffset: 0;
    }
}