<div class="main-container">
  
<div class="header">
  <mat-form-field  appearance="fill" color="primary" class="w-100">
    <!-- <mat-label>{{'selectYourLanguage'|translate}}</mat-label> -->
    <mat-select (selectionChange)="onLanguageChange()" [(ngModel)]="selectedLanguage">
        <mat-option value="en">English</mat-option>
        <mat-option value="kn">Kannada</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="power-btn" (click)="logout()"> 
    <img aria-hidden="true" width="30px" src="assets/icons/power.svg">
  </div>
</div>

  <div class="bot-content" #content *ngIf="botMessages.length > 0">
    <div *ngFor="let msg of botMessages; let i = index">
      <div *ngIf="msg?.type !== ''" class="bot-content__message {{msg?.type}}" [ngClass]="i !==0 ? '': 'info-msg'">
        <div class="text_msg" *ngIf="msg?.messageType !== 'audio'">
          <div>{{msg?.displayMsg | translate }}</div>
          <!-- <p class="time" *ngIf="msg?.time">{{msg?.time}}</p> -->
        </div>
        <div class="audio_msg" *ngIf="msg?.messageType == 'audio'">
          <div><button class="speaker" (click)="playAudio(i)"> <img aria-hidden="true"
                class="audio-record-mic right icon" width="32px" src="assets/icons/speaker.svg"></button></div>
          <div>{{msg?.displayMsg | translate }}</div>
          <!-- <p class="time" *ngIf="msg?.time">{{msg?.time}}</p> -->
        </div>
      </div>
    </div>
    <div class="bot-footer">
      <div class="bee-image">
        <img aria-hidden="true" class="" src="assets/bee-pic.png">
      </div>
      <div #recordbtn [ngClass]="startRecording ? 'cancel-div' : ''">
        <button *ngIf="!isRecording" fill="clear" size="small" (pointerdown)="startRecording()">
          <img aria-hidden="true" class="audio-record-mic start" src="assets/icons/start-recording.svg">
        </button>
        <button *ngIf="isRecording" fill="clear" size="small" (pointerdown)="stopRecording()">
          <div class="circle">
            <svg class="circle__spinner" viewBox="0 0 50 50">
              <circle class="path" cx="25" cy="25" r="20" fill="none" stroke="#93bfec" stroke-width="2"></circle>
            </svg>
          </div>
          <div class="recording audio-record-mic">
            <div class="round"></div>
            <div class="round"></div>
            <div class="round"></div>
          </div>
        </button>
      </div>
      <div class="user-image">
        <img aria-hidden="true" class="" src="assets/user-pic.png">
      </div>
    </div>
  </div>