.authentication-card {
    width: 100%;
    margin: 0 auto;
    border-radius: 1rem;
    max-width: 360px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media screen and (max-width: 1023px) {
        max-width: 320px;
    }
}

.authentication-card-container {
    min-height: 100vh;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
mat-card-actions,mat-card-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
