/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    font-size: large;
    background-image: url(../src/assets/bg-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}
.bot-content::-webkit-scrollbar {
    width: 0;               /* width of the entire scrollbar */
  }
  
 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
